* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
    background-color: black;
}

.container {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 15px;
}



.header {
    
   
    background-color: #0d0d0ddd;
    border-radius: 13rem;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    margin-top: 30px;

}

.navbar a {
    color: #aaa;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    gap: 22px;
    padding: 6px 8px;

}

.menu {
    display: flex;
    justify-content: space-between;
}

.a_tag2 {
    display: flex;
}

.navData1 {
    display: flex;
    margin-left: 15px;
    gap: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navData2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    margin-left: 15px;
    gap: 17px;
}


a:hover {
    background-color: #1c1c1c;
    border-radius: 14px;

}

#a2 :hover {
    background-color: rgb(195, 255, 0);
    border-radius: 20px;
    color: black;
}
.d-none {
    display: none;
}

.topnav .icon {
    display: none;
}
.box_login {


    border-color: white;
    width: 800px;
    height: 550px;
    background-color: rgb(12, 11, 11);
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 100px;
}

h2 {
    display: flex;
    color: rgb(195, 255, 0);
    justify-content: center;
    max-width: 100%;
    padding-top: 53px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.box_login p {
    display: flex;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    justify-content: center;
    padding-top: 5px;
    text-align: center;
}

.login_details {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

input {
    color: rgb(204, 199, 199);
    background-color: rgb(12, 11, 11);
    padding: 10px;
    border-radius: 17px;
    max-width: 50%;
    width: 30%;
    border: 1px solid #3b3b3b;
}

.box_login h1 {
    display: flex;
    font-size: 10px;
    color: white;
    justify-content: center;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

.box_login button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;

}

.in_btn {
    border: 1px solid #3b3b3b;
    background-color: rgb(195, 255, 0);
    padding: 15px;
    max-width: 60%;
    width: 40%;
    border-radius: 20px;
}

.up_btn {
    color: white;
    background-color: rgb(36, 35, 35);
    padding: 15px;
    max-width: 60%;
    width: 40%;
    border-radius: 20px;
    border: 1px solid #3b3b3b;
}
.con_with{
    display: flex;
    justify-content: center;
    
   
}

@media only screen and (max-width: 767px){
   
        .container {
            max-width: 100%;
            padding: 0 10px;
        }
    
        .navbar {
           
            padding: 10px;
        }
        .d-sm-block {
            display: block;
        }
    
        .d-sm-none {
            display: none;
        }
        .topnav .menu {
            display: none;
        }
    
        .topnav a.icon {
            display: block;
        }
    
        .topnav.responsive {
            position: relative;
        }
    
        .topnav.responsive .menu {
            display: block;
            text-align: left;
            position: absolute;
            padding: 15px;
            background-color: #fff;
            border-radius: 4px;
            top: 50px;
            right: 0;
            z-index: 1;
        }
    
        .topnav.responsive .menu a {
            display: block;
            color: #000;
        }
        .topnav.responsive .menu a {
            display: block;
            color: #000;
        }
    
        .box_login {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
        }
        .login_details{
            flex-direction: column;
            align-items: center;
            gap: 15px;
           
        }
    
        h2, .box_login p {
            font-size: 18px;
           align-items: center;
    
        }
       
    
        input {
            width: 70%;
        }
    
        .in_btn, .up_btn {
            width: 80%;
            
        }
    
    
}